*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x:hidden;
}
.portfollio-container{
  height:65px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  justify-content:space-around;
  background-color:#213555;
  color:#fff;
} 
.portfollio-container span{
    color:orangered;
}
.portfollio-container p,span{
    font-size:2.5rem;
}
.navmenu{
  display: flex;
  gap:3rem;
}
.navmenu li{
    list-style-type:none;
}
.navmenu li a{
    text-decoration:none;
    font-size:1.1rem;
    color:white;
    margin-left:20px;
    position: relative;
}

.navmenu .active{
    color:orangered;
    font-size:1.75rem;
}

.navmenu li a:hover{
    background-color: #FFF;
    color:blue;
    font-size:1.3rem;
}

.portfollio-container button{
    background-color:orangered;
    color:#fff;
    padding:10px 20px;
    font-size:1.1rem;
}
.portfollio-container button:hover{
    background-color:#fff;
    color:#213555;
    box-shadow:inset 0 0 2rem #213555 ;
}


/* Contact-section */

.Contact-Container{
    margin-top:10px;
    height:550px;
    width:100%;
    text-align: center;
    padding-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.Find-me{
    height:300px;
    width:400px;
    text-align: center;
    padding-top:90px;
    margin-top:14px;
    border-radius:9px;
    box-shadow: 0 0 2rem grey;
}
.Find-me:hover{
    box-shadow:0 0 3rem grey,
    inset 0 0 2rem lavender;
}
.Contact-Container input{
    margin-bottom:10px;
    font-size:1rem;
    padding:10px 30px;
    background:transparent;
    border-radius:4px;
}
.Contact-Container textarea{
    padding: 10px;
    border-radius:4px;
    font-size:1rem;
    background:transparent;
    border:2px solid black;
}
.Contact-Container h1{
    color:#213555;
}
.Contact-Container button{
     padding:10px 20px;
     border-radius:5rem;
     background-color:#213555;
     color:white;
}

.footer{
    height:100px;
    width:100%;
    background-color:#213555;
    color:white;
    text-align:center;
    padding:40px 30px;
}












































